/* You can add global styles to this file, and also import other style files */
$primary-color: #E91E63;
$primary-text-color: #ffffff;

$background-color: #45454D;

$small-text-size: 16px;
$medium-text-size: 20px;
$large-text-size: 24px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
