@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

/* You can add global styles to this file, and also import other style files */
$primary-color: #7f5af0 ;
$primary-text-color: #fffffe;

$background-color: #242629;
$background-color-dark: #16161a;

$small-text-size: 16px;
$medium-text-size: 20px;
$large-text-size: 24px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  min-width: 320px;
}
