<app-top-nav></app-top-nav>

<div [appPageBackground]="weatherNow.weather[0].icon" class="main">
  <div class="heading">
    <h1 class="">
      {{ weatherNow.name }}
    </h1>
    <p class="date">
      <img
        src="{{ weatherNow.weather[0].icon | weatherIconPipe }}"
        alt="weather icon"
      />
    </p>
  </div>

  <div class="main__container">
    <div class="info">
      <p>{{ weatherNow.main.temp | number : "1.0-0" }}°C</p>
      <p>{{ weatherNow.weather[0].description }}</p>
      <p>Feels like {{ weatherNow.main.feels_like | number : "1.0-0" }}°C</p>
    </div>
    <div class="image-container">
      <img
        src="{{ weatherNow.weather[0].icon | weatherIconPipe }}"
        alt="weather icon"
      />
    </div>
    <div class="additional-info">
      <p>Humidity: {{ weatherNow.main.humidity }} %</p>
      <p>Pressure: {{ weatherNow.main.pressure }} hPa</p>
      <p>Wind speed: {{ weatherNow.wind.speed }} km/h</p>
    </div>
  </div>
  <div class="forecast">
    <h1>3 hour weather forecast</h1>
    <div class="forecast__container">
      <weather-forecast-card
        *ngFor="let card of cityForecastData.list.slice(0, 8)"
        [temperature]="card.main.temp"
        [icon]="card.weather[0].icon"
        [date]="card.dt_txt"
      />
    </div>
  </div>
  <div class="chart-container">
    <app-weather-chart />
  </div>
</div>
