<div class="weather-card" [appPageBackground]="icon" [@fadeInOut]>
  <h3 class="weather-card__city">{{ cityName }}</h3>
  <p class="weather-card__temp">{{ temperature | number : "1.0-0" }}°C</p>
  <p class="weather-card__temp-feels-like">
    feels like: {{ temperatureFeelsLike | number : "1.0-0" }}°C
  </p>
  <img
    class="weather-card__icon"
    src="{{ icon | weatherIconPipe }}"
    alt="Weather Icon"
  />
  <p class="weather-card__description">{{ description }}</p>
  <button (click)="delete()" mat-button class="weather-card__delete-button">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
