.weather-forecast-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 150px;
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
    height: 200px;
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}