<div class="main">
  <form class="input-form" #cityForm="ngForm" (ngSubmit)="getWeatherData()">
    <mat-form-field class="input-field">
      <mat-label>Where is the best weather?</mat-label>
      <input ngModel name="city" matInput placeholder="Type a city" />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Search</button>
  </form>

  <div class="main-body">
    <h1 class="header">Weather around the world!</h1>
    <div class="cards-container">
      <app-weather-card
        *ngFor="let city of weatherData"
        [cityName]="city.name"
        [temperature]="city.main.temp"
        [temperatureFeelsLike]="city.main.feels_like"
        [description]="city.weather[0].description"
        [icon]="city.weather[0].icon"
        [id]="city.id"
        (deleteCity)="receiveDeleteCity($event)"
        [routerLink]="['/', city.name]"
      ></app-weather-card>
    </div>
  </div>
</div>
