<div class="main">
  <form
    class="main__input-form"
    #cityForm="ngForm"
    (ngSubmit)="getWeatherData()"
  >
    <mat-form-field color="accent" class="input-field">
      <mat-label>Where is the best weather?</mat-label>
      <input ngModel name="city" matInput placeholder="Type a city" />
    </mat-form-field>
    <button mat-raised-button type="submit">Search</button>
  </form>

  <div class="main__body">
    <div class="main__body__container">
      <app-weather-card
        *ngFor="let city of weatherData"
        [cityName]="city.name"
        [temperature]="city.main.temp"
        [temperatureFeelsLike]="city.main.feels_like"
        [description]="city.weather[0].description"
        [icon]="city.weather[0].icon"
        [id]="city.id"
        (deleteCity)="receiveDeleteCity($event)"
        [routerLink]="['/', city.name]"
      ></app-weather-card>
    </div>
  </div>
</div>
